<div class="hero background-image vh-100" id="home">
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-md-12 text-center d-flex flex-column justify-content-center align-items-center">
                <h3 class="text-light fst-italic" data-aos="fade-up" data-aos-duration="2000">Welcome to my page!</h3>
                <h1 class="text-light text-uppercase big-font" data-aos="fade-up" data-aos-duration="2000">
                    <strong>
                        It's nice to meet you
                    </strong>
                </h1>
                <a role="button" target="_blank" href="mailto:christopher.mh98@gmail.com"
                    class="btn btn-primary text-uppercase text-light btn-lg mt-5" data-aos="fade-up" data-aos-duration="2000">Hire me</a>
            </div>
        </div>
    </div>
</div>

<div class="parallax" id="tech-stack">

    <div class="text-center big-padding bg-transparent">
        <div class="container h-100 bg-gradient" data-aos="zoom-in" data-aos-duration="1500">
            <div class="row h-100">

                <div class="col-xl-4 col-md-6 col-lg-6 p-5 align-self-center">
                    <div class="card-body">
                        <div class="card p-4 bg-dark text-light shadow-lg rounded">
                            <h2 class="mb-4"> <strong>MEAN</strong></h2>
                            <img src="../../../assets/images/js.icon.svg" alt="JS.icon"
                                class="img-fluid mb-2 align-self-center" width="80px">
                            <span class="text-container mt-3">
                                Experienced MEAN Stack developer adept at creating dynamic applications with MongoDB,
                                Express.js, Angular, and Node.js. Specialized in responsive UIs and integrating robust
                                backend services using both JavaScript and TypeScript.
                            </span>
                        </div>

                    </div>
                </div>

                <div class="col-xl-4 col-md-6 col-lg-6 p-5 align-self-center">
                    <div class="card-body">
                        <div class="card p-4 bg-dark text-light shadow-lg rounded">
                            <h2 class="mb-4"> <strong>.NET Stack</strong></h2>
                            <img src="../../../assets/images/dot-net.icon.svg" alt=".NET.icon"
                                class="img-fluid mb-2 align-self-center" width="80px">
                            <span class="text-container mt-3">
                                Seasoned .NET developer with expertise in C#, ASP.NET and ASP.NET Core. Specialized in
                                software
                                architectures
                                such as Microservices, MVC, and DDD. Proficient in building robust web services (REST,
                                SOAP,
                                GraphQL) and implementing best practices.
                            </span>

                        </div>

                    </div>
                </div>
                
                <div class="col-xl-4 col-md-6 col-lg-6 p-5 align-self-center">
                    <div class="card-body">
                        <div class="card p-4 bg-dark text-light shadow-lg rounded">
                            <h2 class="mb-4"> <strong>DB</strong></h2>
                            <img src="../../../assets/images/db.png" alt=".db.icon"
                                class="img-fluid mb-2 align-self-center" width="120px">
                            <span class="text-container mt-3">
                                Database management expert skilled in MSSQL Server, MySQL, and MongoDB. Proficient in
                                T-SQL,
                                Stored procedures,
                                SQL SSIS. Ensuring efficient database design. Experienced in
                                supporting various applications with a focus on data integrity and modeling.
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="parallax" id="about">

    <div class="text-center big-padding big-padding-bottom bg-transparent">
        <div class="container bg-black" >

            <div class="row" data-aos="zoom-in" data-aos-duration="1500">
                <div class="col-md-4 my-5 text-light">
                    <img src="../../../assets/images/cmorles.png" alt="cmorles.png" width="320px" height="350px"
                        class="rounded-circle" style="object-fit: cover;">
                </div>
                <div class="col-md-8 my-5 text-light align-self-center">
                    <p>
                        I am a versatile FullStack developer with expertise in reactive, functional, and
                        object-oriented programming. Proficient in web services (REST/SOAP) and design patterns
                        (Microservices, MVC, DDD, CQRS, Repository Pattern). Experienced in diverse projects,
                        including ERPs, E-commerce, WMS, geolocation-based systems, and more.
                    </p>
                    <a role="button" target="_blank" href="../../../assets/SR. Dev Christopher Morles Resume.pdf"
                        class="btn btn-primary text-uppercase text-light mt-3 p-2 px-3"
                        data-aos="zoom-in" data-aos-duration="3000">
                        Get resume
                    </a>

                </div>
            </div>
        </div>
    </div>

</div>