<div class="bg-dark" id="contact">
    <footer class="text-center text-lg-start">
        <div class="container py-3">
            <div class="row">
                <div class="my-2 col-md-12 align-self-center text-center">
                    <img src="../../../assets/images/CM-logos_white.png" width="50px" alt="logo.png">
                </div>

                <div class="text-center p-2 muted-text">
                    <small>
                        Copyright © 2024 CM. All rights reserved.
                    </small>
                </div>

                <div class="my-2 col-md-12 align-self-center text-center">
                    <ul class="d-inline-flex">
                        <li>
                            <a href="https://www.linkedin.com/in/cm98/" target="_blank">
                                <i class="fab fa-linkedin-in icon"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://github.com/CMorles98?tab=repositories" target="_blank">
                                <i class="fab fa-github icon"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://wa.me/584242772936" target="_blank">
                                <i class="fab fa-whatsapp icon"></i>
                            </a>
                        </li>
                        <li>
                            <a href="mailto:christopher.mh98@gmail.com" target="_blank">
                                <i class="fab fa-google icon"></i>
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="my-2 col-md-12 align-self-center text-center text-light">
                    <ul class="list-group d-inline">
                        <a class="text-monospace text-underline navbar-brand text-light text-uppercase mx-1 small-text" href="#home">
                            Home</a>
                        <span class="separator"> | </span>
                        <a class="text-monospace text-underline navbar-brand text-light text-uppercase mx-1 small-text"
                            href="#tech-stack"> Tech stack</a> <span class="separator"> | </span>
                        <a class="text-monospace text-underline navbar-brand text-light text-uppercase mx-1 small-text"
                            href="#about">About</a>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

</div>